@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
}
*{
    font-family: Vazir;
}
main{
    width: 100%;
}
body{
    direction: rtl;
    text-align: right;
    background-color: #f6f7fa !important;
    padding-top: 60px;
    margin: 0;
}
.main-section{
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
div#container {
    width: calc(75% - 20px) !important;
    margin-left: 0.5%;
}
/* منوی سایت */
.navBar {
    overflow: hidden;
    background-color: #13142f;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: right;
    height: 60px;
}
.navBar button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.navBar button:hover {
    background-color: #dddddda3;
    color: #13142f;
}
.navBar button.active {
    background-color: #dddddda3;
    color: #13142f;
}
.navContent {
    display: none;
    padding: 12px;
    border-top: none;
}
/* سایدبار راست و فیلتر */
.sidebar-right{
    min-width: calc(20% - 20px) !important;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    text-align: center;
    margin-right: 0.5%;
}
.title-filter{
    text-align: center;
    color: #13142f;
    font-size: 1rem;
    margin: 20px;
    font-weight: bold !important;
    border-bottom: 1px solid #13142f;
    padding-bottom: 10px;
}
.right-filter-container .range-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.right-filter-container{
    padding: 0.5em;
    font-size: 14px;
    display: flex;
}
.right-filter-container a {
    text-decoration: none;
    color:#333;
}
.right-filter-container input[type="radio"]{
    width: 1% !important;
    border-radius: 50px !important;
    appearance: none;
    border: 2px solid #13142f;
    vertical-align: middle;
    position: relative;
    margin-left: 3%;
}
.right-filter-container input[type="radio"]:checked::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 0;
    background-color: #13142f;
}
.filter-Label{
    font-size: 16px;
    font-weight: bold;
    color: #13142f;
}
.filter-button{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding: 10px !important;
    border-radius: 8px !important;
    border: 0.5px solid #a6a6a6;
    min-width: 50% !important;
    font-weight: bold;
}
.filter-button:hover{
    background-color: #ccc;
}
/* هدر سایت */
header>img{
    width: 100%;
}
/* وبلاگ */
.accordion{
    background-color: #dddddda3;
    color: #13142f;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: 1px solid #13142f;
    text-align: right;
    outline: none;
    font-size: 1rem;
    transition: all 0.1s ease-out;
}
.accordion:first-child{
    border-radius: 10px 10px 0 0;
}
.accordion-content:nth-last-child(1){
    border-bottom: 1px solid #13142f;
}
.active1,.accordion:hover{
    background-color: #13142f;
    color: white;
}
.accordion:after{
    content: "\002B";
    font-weight: bold;
    float: right;
    margin-left: 0.5rem;
}
.active1:after{
    content: "\2212";
    color: white;
}
.accordion-content{
    padding: 0 1rem;
    color: #13142f;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-right: 1px solid #13142f;
    border-left: 1px solid #13142f;
    text-align: justify;
}
.accordion-content ul{
    list-style-type: circle;
    margin: 1rem 0;
    padding: 0.2rem;
}
.accordion-content ul li{
    padding: 0.2rem 0;
}
/* اطلاعات املاک */
.title-house{
    text-align: center;
    color: #13142f;
    font-size: 1.2857em;
    line-height: 2;
    margin: 20px;
    font-weight: 600 !important;
}
.card{
    background-color: #fff;
    width: 330px !important;    
    height: 310px !important;
    border-radius: 10px !important;
    margin: 0 0 28px 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover{
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
}
.card-small{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 160px;
}
.meterage-small, .area-small, .seller-small{
    margin-top: 10px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}
/* فوتر */
.footer{
    padding: 12px 25px;
    border-top: 1px solid #ccc;
    background-color: #13142f;
    width: 100% !important;
}
.footer-address, .footer-email, .footer-call {
    margin-top: 10px;
    margin-right: 15px;
}
.contact-call{
    align-items: center;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-call>p{
    color: #ffffff;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-list li {
    margin-bottom: 8px;
    color: #ffffff;
}
.footer-list li a{
    margin-bottom: 8px;
    color: #ffffff;
    text-decoration: none;
}
.title-widget{
    color: #ffffff;
    font-size: 1.2857em;
    line-height: 2;
    margin: 20px 0px 30px 0px;
    font-weight: 600 !important;
}
/* کپی رایت */
.footer-bottom{
    text-align: center;
    border-top: 1px solid #545454;
    padding-bottom: 5px;
    background-color: #13142f;
    color: #ffffff;
    width: 100% !important;
}
/* درباره ما */
.title {
    margin-right: 5%;
    width: fit-content;
    text-align: center;
    height: 30px;
}
.about-us {
    display: flex;
}
.about-us-image{
    text-align: center;
    width: 48%;
    margin-bottom: 20px;
}
.about-us-image>img{
    width: 50%;
    border-radius: 100% 50% 50% 100%/75% 69% 69% 75%;
}
.about-us-info{
    text-align: center;
    width: 48%;
    padding: 2%;
}
.skill{
    margin-bottom: 6px !important;
    margin-top: 13px !important;
    display: flex !important;
    flex-wrap: wrap !important;
}
b{
    font-size: 17px !important;
}
.toolbar {
    border: 1px solid #B0B0B0 !important;
    width: 100% !important;
    border-radius: 4px !important;
    box-shadow: 0 0 3px #B0B0 !important;
    backdrop-filter: blur(2px) brightness(101%) !important;
}
.bar {
    box-shadow: inset 0px 12px 1.7px #FFFFFF33 !important;
    border-radius: 3px !important;
    color: white !important;
}
.bar.wordpress {
    background: #13142f !important;
    width:70% !important;
}
.bar.js {
    background: #13142f;
    width: 40%;
}
.bar.css {
    background: #13142f;
    width: 80%;
}
/* تماس با ما */
.contact-info{
    margin: 20px 0px 20px 0px !important;
    text-align: -webkit-center;
}
h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
    margin-bottom: 1.5rem !important;
}
.contact-image {
    width: 30% !important;
    padding-top: 20px;
}
.contact-info-text ul li {
    border-bottom: 1px solid #13142f;
}
.contact-info-text ul li:last-child {
    border-bottom: none;
}
.contact-info-text ul li .contact-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact-info-text ul li .contact-title h4 {
    margin-bottom: 0;
}
.form-info{
    border: 1px solid rgb(227, 227, 227);
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    width: 70%;
}
.contact-info-image{
    text-align: center;
}
.form-details {
    padding: 3%;
    display: grid;
}
input, textarea, .form-details>button{
    margin-bottom: 10px !important;
    padding: 10px !important;
    border-radius: 8px !important;
    border: 1px solid #a6a6a6;
    width: 100% !important;
}
.form-details>button{
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.form-details button:hover{
    background-color: #ccc;
}
/* اسکرول به بالا */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 30px;
    border: 2px solid #13142f;
    background-color: #dddddda3;
    color: #13142f;
    cursor: pointer;
    border-radius: 4px;
    min-width: 4%;
    padding-top: 10px;
}
#myBtn:hover{
    background-color: #7d7d7d;
}
p{
    margin-bottom: 1rem;
    margin-top: 1rem !important;
}
.row{
    --bs-gutter-x: 0 !important;
}

